@font-face {
font-family: "Dosis-Bold";
src: url("../fonts/Dosis-Bold/Dosis-Bold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

body{
  margin: 0 auto;
  font-family: 'Dosis-Bold', arial;
  color: #2f1946;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4{
  margin: 0;
}

.wrapper{
  margin: 0 auto;
  max-width: 79.38em;
}

.no-repeat,
.square__img{
    background-repeat: no-repeat;
}

.uppercase{
  text-transform: uppercase;
}

.center,
.square__box,
.square__string,
.square__img,
.square__color,
.square_shadow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-flow_column{
  flex-flow: column;
}

.section-background,
.get-started{
  background-position: center;
  background-size: cover;
}

.menu__nav{
  display: none;
}

.menu__img{
  font-size: 1.125em;
}

.header__logo-img{
  background-image: url("../images/logo.png");
  height: 17.31em;
  width: 28.25em;
  max-width: 100%;
  margin-top: 15.53398%;
}

.header__background{
  background-image: url("../images/smile-people.png");
  background-size: cover;
  max-height: 64.38em;
  height: 64.38em;
  position: relative;
  background-position: 100% top;
  background-size: 100%;
}

/* .container{
  height: 78.63em;
  max-width: 100%;
  position: relative;
  flex-flow: column;
} */

.header__header {
  font-size: 5em;
}

.header__get-started-btn{
  padding: 14px;
  border-radius: 50px;
  background-color: #81398b;
  width: 135px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.header__get-started-btn-line{
  margin: 0 auto;
  padding: 10px 11px;
  border-style: solid;
  border-radius: 50px;
  width: 164px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  border-color:  #81398b;
  border-width: 1px;
}

.header__get-started-text{
  font-size: 18px;
  color: #ffffff;
}

.header__arrow-down{
  background-image: url("../images/arrow-pointing-to-right.png");
  height: 22px;
  width: 1em;
  margin-left: 12px;
}

.square__img{
  display: block;
}

.square{
  position: absolute;
  bottom: 0;
}

.square__color_shadow{
  display: inline-table;

}

.square__color,
.square__color_shadow{
  width: 235px;
  margin-right: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.square__color{
  height: 219px;
}

.square__color:last-child, .square__color_shadow:last-child{
  margin-right: 0;
}

.square__color_pink{
  background-color: #fe4a5d;
}

.square__color_red{
background-color: #e22028;
}

.square__color_orange{
  background-color: #ff6c00;
}

.square__box{
  background-color: rgba(0,0,0,0.1);
  height: 111px;
}

.square__img-world{
  background-image: url("../images/worldwide.png");
  width: 98px;
  height: 96px;
}

.square__img-hearts{
  background-image: url("../images/020-two-hearts-3.png");
  width: 112px;
  height: 96px;
}

.square__img-site{
  background-image: url("../images/icon.png");
  width: 114px;
  height: 78px;
}

.square__string{
  color: white;
  font-size: 2em;
}

.section-header{
  margin-bottom: 55px;
  margin-top:  145px;
}

.section-header__img{
  background-image: url("../images/-e-Logo Heart-03.png");
  display: block;
  height: 59px;
  width: 57px;
  margin-right: 12px;
}

.section-header__header{
  font-size: 52px;
}

.section-header__string, .section-header__author{
  font-size: 1.875em;
  width: 27em;
  max-width: 120%;
}

.section-header__string{
  text-align: center;
}

.section-header__author{
  color: #fe4a5d;
  text-align: right;
}

.section-background{
  background-image: url("../images/photos.png");
  height: 552px;
}

.form-sign-up{
  border-style: solid;
  border-width: 8px;
  max-width: 29.13em;
  height: 552px;
  border-image: linear-gradient(90deg, #e22128 0%, #ee6c1f 42%, #f9b316 100%);
  border-image-slice: 1;
  margin: 0 auto;
}

.form-sign-up__header{
  font-size: 38px;
  margin: 0;
  margin-bottom: 35px;
}

.form-sign-up__facebook-btn,
.form-sign-up__sign-up-btn,
.get-started__btn{
  font-size: 1em;
  color: white;
}

.form-sign-up__facebook,
.form-sign-up__sign-up-btn{
  width: 301px;
  height: 41px;
  border-radius: 4px;
}

.form-sign-up__sign-up-btn{
  background-color: #81398b;
}

.form-sign-up__facebook{
  background-color: #2f53a3;
}

.form-sign-up__facebook-img{
  background-image: url("../images/fb.png");
  width: 6px;
  height: 14px;
  display: block;
  margin-right: 8px;
}

.form-sign-up__text-between-line{
  color: #9a9a9a;
  font-size: 14px;
  margin: 13px 8px 15px 8px;
}

.form-sign-up__line{
  background-color: #dcdcdc ;
  width: 132px;
  height: 2px;
  border: none;
}

.form-sign-up__input{
  width: 285px;
  height: 41px;
  border-style: solid;
  border-color: #dcdcdc;
  border-radius: 4px;
  border-width: 2px;
  padding-left: 12px;
  margin-bottom: 12px;
  font-size: 20px;
}

.form-sign-up__input::placeholder {
  color: #81398b;
  font-family: 'Dosis-Bold', arial;
}

.get-started{
  background-image: url("../images/bg.png");
  height: 736px;
  color: #67326e;
  margin-top: 150px;
  background-position: center;
  background-size: cover;
}

.get-started__header{
  font-size: 60px;
  margin-top: 25px;
}

.get-started__header_low{
  font-size: 46px;
}

.get-started__btn{
  background: linear-gradient(90deg, #e22128 0%, #ee6c1f 42%, #f9b316 100%);
  height: 39px;
  width: 139px;
  border-radius: 4px;
  margin-top: 21px;
}

.get-started__circle{
  width: 370px;
  height: 370px;
  background: white;
  border-radius: 50%;
}

.get-started__outer-circle{
  border-style: solid;
  width: 462px;
  height: 462px;
  border-width: 1px;
  border-color: rgba(255,255,255,0.4);
  border-radius: 50%;

}

.footer-subscribe-form{
  height: 108px;
  font-size: 1em;
}

.footer-subscribe-form__label{
  color: #00cfae;
  margin-right: 15px;
}

.footer-subscribe-form__input{
  width: 257px;
  height: 36px;
  border-radius: 4px 0 0 4px;
  border-style: solid;
  border-color: #cdcdcd;
  border-right: none;
  border-width: 1px;
  padding-left: 13px;
}

.footer-subscribe-form__input::placeholder{
  color: #cacaca;
}

.footer-subscribe-form__btn{
  color: white;
  height: 40px;
  width: 135px;
  background-color: #00cfae;
  border-radius: 0 4px 4px 0;
  flex-flow: row wrap;
}

.menu-nav{
  height: 70px;
  background-color: #fafafa;
}

.menu-nav__item{
  margin-right: 58px;
  font-size: 1em;
  color: #2f1946;
}

.menu-nav__item:last-child{
  margin-right: 0;
}

.flags{
  height: 3em;
}

.flag{
  width: 1rem;
  margin-left: 11px;
}

.flag:first-child{
  margin-left: 0;
}

.copyrlite__line{
  width: 828px;
  background-color: #d3d3d3;
  border: none;
  height: 1px;
  margin: 0;
}

.copyrlite{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.copyrlite__text{
  height: 39px;
}
